<div class="card-section">
    <h2>{{name}}</h2>
    <div class="card-content">
        <ul>
            <li class="title-list">
                <p>Capital: </p><span>{{capital}}</span>
            </li>
            <li class="title-list">
                <p>Population: </p><span>{{population}}</span>
            </li>
            <li class="languages-item">
                <p>Languages: </p>
                <ul>
                    {{#each languages}}
                    <li>{{name}}</li>
                    {{/each}}
                </ul>
            </li>
        </ul>
        <img src="{{flag}}" alt="">
    </div>
</div>